.pac-container {
  background-color: #fffdf7;
  border: none;
  z-index: 1000;
  border-radius: 15px;
  -webkit-box-shadow: -1px 6px 18px -9px rgba(66, 68, 90, 0.53);
  -moz-box-shadow: -1px 6px 18px -9px rgba(66, 68, 90, 0.53);
  box-shadow: -1px 6px 18px -9px rgba(66, 68, 90, 0.53);
  margin-bottom: 2rem;
}

.pac-item {
  padding: 0.2rem 0.4rem;
  cursor: pointer;
  color: #0a2342;
  transition: all ease-in-out 0.3s;
}

.pac-item:hover {
  background-color: #f4f1eb;
}

.pac-matched {
  color: #0a2342;
}

.pac-item-query {
  color: #0a234284;
}

.pac-container:after {
  background-image: none !important;
  height: 0px;
}
